<app-header></app-header>

<h1>Pick 'n' Mix Co - Who are we?</h1>

<p>
  It's a sweet thing!

  Pick 'n' Mix Co is a new family run business based in Cardiff, Wales, providing something for everyone! We supply a
  range of sweets including fizzy, vegetarian, vegan, jelly, halal and gluten free, all delivered straight to your
  door (UK nationwide).

  We believe everyone deserves a treat from time to time and if you believe it too, then you're in the right place!

  All our prices include free standard delivery, so no nasty surprises at checkout.

  Here at Pick 'n' Mix Co, we care deeply about the environment and that is why we have carefully chosen our
  packaging, making the majority of it recyclable.
</p>